
body{
	width:100%;
	background-color:#FAFBFB;
	font-family:"微软雅黑";
	min-width:308px;
}

input{
	-webkit-appearance:none;
	outline:none;
	border-radius:0;
	-webkit-tap-highlight-color:rgba(255,255,255,0);
}

div{
	-webkit-tap-highlight-color:rgba(255,255,255,0);
}


a{
	color: #525252;
	-webkit-tap-highlight-color:rgba(255,255,255,0);
}

header{
	position:fixed;
	z-index:20;
	height:65px;
	top:0;
	left: 0;
	right:0;
	background-color:#FAFBFB;
	border-bottom:1px solid #CCCCCC;
}

header div:nth-child(1){
	position: absolute;
	top:10px;
	left:3px;
	right: 50px;
	height:40px;
}

#search_input{
	padding-left: 5px;
	height:36px;
	width: 100%;
	border:1px solid #DDDDDD;
	outline:none;
	outline-style: none;
	font-size:15px;
	font-family:'georgia',  "微软雅黑";
	-webkit-tap-highlight-color:rgba(255,255,255,0);
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}

header div:nth-child(2){
	position: absolute;
	top:10px;
	right:3px;
	width:50px;
	height:40px;
}
#search_btn{
	width:50px;
	height:36px;
	line-height:36px;
	text-align:center;
	background-color:#0091FF;
	border-left:0;
	border:1px solid #0091FF;
	cursor:pointer;
	outline:none;
	font-size:15px;
	color:#FFF;
}

footer{
	position:fixed;
	bottom: 0;
	left:0;
	right:0;
	height:40px;
	line-height:40px;
	text-align:center;
	/*color:#2BB2A3;*/
	color: #FFF;
	border-top: 1px solid #DDD8CE;
	/*background-color:#F0EFED;*/
	background-color: #000;
}

footer a{
	cursor: pointer;
	color: #FFF;
}

footer a:nth-child(1){
	width: 33%;
	float: left;
}

footer a:nth-child(2){
	width: 33%;
	float: left;
}

footer a:nth-child(3){
	width: 33%;
	float: right;
}

section{
	position:absolute;
	top:64px;
	right:5px;
	left:5px;
	border-top:1px solid #CCCCCC;
	/*background-color:#FFFFFF;*/
	font-size:12px;
}

.list_item{
	margin-top:5px;
	height:150px;
	border-bottom: 1px solid #E6E6E6;
	background-color: #FFF;
	min-width:290px;
}

section .list_item:last-child{
	border-bottom: none;
}

.list_img{
	width:104px;
	height: 144px;
	text-align:center;
}

.list_content{
	width:130px;
	height: 144px;
}
.list_other{
	width:50px;
	height: 144px;
	color: #8F8F8F;
}

.list_bookname{
	font-size:14px;
	line-height:20px;
	margin-left:10px;
	width:120px;
	height:40px;
}

.list_author{
	color:#666666;
	margin-left:10px;
	line-height:17px;
	height: 51px;
	width:120px;
}

.overflow{
	overflow: hidden;
	text-overflow: ellipsis;
}

.fl{float: left;}
.fr{float: right;}

.list_bookprice{
	margin-top: 20px;
	margin-left:5px;
	color:#2BB2A3;
}

.list_price_num{
	font-size:25px;
}

.list_other span{
	position:relative;
	top:120px;
}

.list_bookname_a{
	height:150px;display:block;
}

#loading{
	position:absolute;top:170px;left:150px;z-index:2;
}
/* book detail*/
#book_detail_info{
	width:100%;min-height:164px;
	font-size:14px;
	background-color: #FFF;
	min-width:308px;
	border-bottom: 1px dashed #CCCCCC;
	
}

.book_detail_pic{
	margin-top: 5px;
	margin-left:5px;
	width:104px;
	height:144px;
}

.book_detail_title{
	color:#0091FF;
	margin-left: 10px;
	line-height:23px;
}

.book_detail_sum{
	background-color: #FFF;
	margin-top:10px;font-size:14px;
	border-bottom: 1px dashed #CCCCCC;
}

.book_detail_sum div{
	border:1px solid #2BB2A3;
	border-radius:2px;
	color: #2BB2A3;
	width:80px;
	height:30px;
	text-align: center;
	line-height:30px;
}

.book_detail_t_w{
	max-width:120px;
	height:23px;
	line-height:33px;
	display: inline-block;
}

/*--------music list-----*/
.music_list_item{
	margin-top:10px;
	height:160px;
	width: 100%;
	min-width:300px;
	border:1px solid #E6E6E6;
	background-color:#FFF;
	font-size:14px;
}

.music_list_circle{
	width:80px;height:80px;
}
.music_list_circle_img{
	border-radius:40px;
}

.mlra{
	margin-left:auto;
	margin-right: auto;
}
.music_list_mt8{
	margin-top:8px;
}

.music_list_title{
	color:#007722;
}
.music_list_left_part{
	margin-left:5px;
}
.music_list_part{
	width:150px;
}
.white_space{
	white-space:nowrap;
}
.music_list_tw{
	width:110px;
}

.music_list_part span{
	margin-left: 2px;
	float: left;
}
.music_list_text_h{
	height:40px;
}

.music_list_qudou{
	width:60px;height:24px;
	border-radius:2px;
	text-align:center;
	line-height: 24px;
	margin-top:3px;
	background-color:#66BA9C;
	color:#FFF;
}

.music_list_qudou a{
	color: #FFF;
	text-decoration:none;
}

/*-douban music-*/
.douban_music{
	font-size:18px;margin-left:5px;color:#66BA9C;margin-top:5px;
}

/*movie list*/
.movie_list_item{
	font-size:13px;
	margin-top: 10px;
	background-color:#FFF;
	border:1px solid #E6E6E6;
	height:140px;
	width: 100%;
	min-width:300px;
}

.movie_list_wh{
	margin-top:5px;
	margin-left:5px;
	max-height:130px;
}

.movie_list_title{
	margin-left:5px;
	color: #0091FF;
}
.movie_title_div{
	margin-top:8px;
	width: 190px;
}

.movie_score{
	color:#CA1010;
}

.movie_cast_name{
	width:160px;
	/*display: block;*/
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.movie_qudouban{
	border:1px solid #0091FF;
	height:23px;
	line-height:23px;
	width: 60px;
	border-radius:2px;
	text-align: center;
	margin-top:12px;
	margin-left:5px;
	cursor:pointer;
}

.movie_qudouban a{
	text-decoration:none;
	color:#000;
}

@media (max-height:350px) { 
  footer {
    display: none;
  }
}






