
body{
	width:100%;
	background-color:#FAFBFB;
	font-family:"微软雅黑";
	min-width:308px;
}

input{
	-webkit-appearance:none;
	outline:none;
	border-radius:0;
}


a{
	color: #525252;
}

header div:nth-child(1){
	position: absolute;
	left:3px;
	right: 60px;
	height:40px;
}

#search_input{
	padding-left: 5px;
	height:40px;
	width: 100%;
	border:1px solid #DDDDDD;
	outline:none;
	font-size:15px;
	font-family:'georgia',  "微软雅黑";
}

header div:nth-child(2){
	position: absolute;
	right:3px;
	width:50px;
	height:40px;
}
#search_btn{
	width:50px;
	height:46px;
	line-height:45px;
	text-align:center;
	background-color:#0091FF;
	border-left:0;
	border:0;
	cursor:pointer;
	outline:none;
	font-size:15px;
	color:#FFF;
}

footer{
	position:fixed;
	bottom: 0;
	left:0;
	right:0;
	height:40px;
	line-height:40px;
	text-align:center;
	/*color:#2BB2A3;*/
	color: #FFF;
	border-top: 1px solid #DDD8CE;
	/*background-color:#F0EFED;*/
	background-color: #000;
}

footer a{
	cursor: pointer;
	color: #FFF;
}

footer a:nth-child(1){
	width: 33%;
	float: left;
}

footer a:nth-child(2){
	width: 33%;
	float: left;
}

footer a:nth-child(3){
	width: 33%;
	float: right;
}

section{
	position:absolute;
	top:64px;
	right:5px;
	left:5px;
	border-top:1px solid #CCCCCC;
	/*background-color:#FFFFFF;*/
	font-size:12px;
}

.list_item{
	margin-top:5px;
	height:150px;
	border-bottom: 1px solid #A8A8A8;
	background-color: #FFF;
	min-width:290px;
}

section .list_item:last-child{
	border-bottom: none;
}

.list_img{
	width:104px;
	height: 144px;
	text-align:center;
}

.list_content{
	width:130px;
	height: 144px;
}
.list_other{
	width:50px;
	height: 144px;
	color: #8F8F8F;
}

.list_bookname{
	font-size:14px;
	line-height:20px;
	margin-left:10px;
	width:120px;
	height:40px;
}

.list_author{
	color:#666666;
	margin-left:10px;
	line-height:17px;
	height: 51px;
	width:120px;
}

.overflow{
	overflow: hidden;
	text-overflow: ellipsis;
}

.fl{float: left;}
.fr{float: right;}

.list_bookprice{
	margin-top: 20px;
	margin-left:5px;
	color:#2BB2A3;
}

.list_price_num{
	font-size:25px;
}

.list_other span{
	position:relative;
	top:120px;
}

.list_bookname_a{
	height:150px;display:block;
}

#loading{
	position:absolute;top:170px;left:110px;z-index:2;
}
/* book detail*/
#book_detail_info{
	width:100%;min-height:164px;
	font-size:14px;
	background-color: #FFF;
	min-width:308px;
	border-bottom: 1px dashed #CCCCCC;
	
}

.book_detail_pic{
	margin-top: 5px;
	margin-left:5px;
	width:104px;
	height:144px;
}

.book_detail_title{
	color:#0091FF;
	margin-left: 10px;
	line-height:23px;
}

.book_detail_sum{
	background-color: #FFF;
	margin-top:10px;font-size:14px;
	border-bottom: 1px dashed #CCCCCC;
}

.book_detail_sum div{
	border:1px solid #2BB2A3;
	border-radius:2px;
	color: #2BB2A3;
	width:80px;
	height:30px;
	text-align: center;
	line-height:30px;
}

.book_detail_t_w{
	max-width:120px;
	height:23px;
	line-height:33px;
	display: inline-block;
}







