<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title>测试Angular</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>
	<body>
		<div ui-view></div>
		
		<ng-include id="header_div" src="'./view/header_search.html'"></ng-include>
		<div id="scroll" ng-view></div>
		<!--<div id="footer_div" ng-include="'./view/footer_search.html'"></div>-->
		<footer ng-controller="MenuController">
			<a ng-click="bookSearch()">图书</a>
			<a ng-click="musicSearch()">音乐</a>
			<a ng-click="movieSearch()">电影</a>
		</footer>
		<div id="loading" ng-show="isNoLoaded">
			<img src="../imgs/loading.gif" />
		</div>



		<script type="text/javascript" src="../js/angular.js"></script>
		<script type="text/javascript" src="../js/angular-route.js" ></script>
		<script type="text/javascript" src="../js/angular-ui-router.js"></script>
		
		<script type="text/javascript" src="../js/iscroll.js"></script>
		<script type="text/javascript" src="../lib/main.js"></script>
		<script type="text/javascript" src="../lib/bookService.js"></script>
		<script type="text/javascript" src="../lib/BookController.js"></script>
		<script type="text/javascript" src="../lib/searchController.js"></script>
		<script type="text/javascript" src="../lib/menuController.js"></script>

	</body>
</html>